html, body { margin:0; padding:0; width: 100%; height: 100%}
.map-controller {height: 100%; }
.map-container { height: 100%;}
#map { position:absolute; top:0; bottom:0; width:100%; text-align: center;}

.full-height {height:100%;}
#messages { position: absolute; bottom: 0; left: 10px; width: 35%; height: auto;}

/*********************
 SUIT UTILS 
*********************/
.u-isHiddenVisually {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
}