/*********************
 MENU 
*********************/
.top-menu {
	@extend %fill-width;
	@extend %theme-primary;

	height: $menu-height;
}

.logo {
	width : $logo-width;
	margin-left : $margin-M;
	padding-top : $padding-M;
}


/*********************
 MAP CONTROLS
*********************/
.map-controller {
	@extend %fill-height;
	width : $map-controller-width;
	background : transparent;
}

.box {
	@extend %theme-primary;

	margin : $margin-M;
	margin-left : $margin-M+$margin-L;
	padding: $padding-S;
}

.box-tab {
	@include transform-origin(0 bottom);
	@include transform(rotate(-90deg) );
	
	display : inline-block;
	position: absolute;
	top: 0; //will vary per tab-box title
	left: 0;
	padding : $padding-S;
}

#legend .box-tab { top : $key-tab-top}
.filters .box-tab { top : $filters-tab-top }

/*********************
 MAP 
*********************/
.map-container { 
	@extend %fill-height;
}

#map { 
	@extend %fill-screen;
}

#messages { position: absolute; bottom: 0; left: 10px; width: 35%; height: auto;}