/*********************
 MENU
*********************/
.top-menu {
    @extend %fill-width;
    @extend %theme-primary;

    height: $menu-height;
    padding-top : $padding-M;
}

.logo {
    width : $logo-width;
    margin-left : $margin-M;
}

.tagline {
	line-height: 1.4em;
	margin-top: -0.4em;
}


/*********************
 MAP CONTROLS
*********************/
.map-controller {
    @extend %fill-height;
    width : $map-controller-width;
    background : transparent;
}

.box {
    //@extend %theme-primary;
    position : relative;
    margin : $margin-M;
    margin-left : $margin-M+$margin-L;
    min-width: 16em;

}

.key-container {
    min-height : 76px;
}

.box-tab {
    @extend %theme-primary-inverse;
    position: absolute;
    width : 35px;
    top: 0;
    left: -35px;


    .bt-key {
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .bt-filters {
        margin-top: 47px;
        margin-bottom: 18px;
    }
}

.box-tab-vertical {
    //@include transform-origin(0 bottom);
   @include transform(rotate(-90deg) );
   // width : 0;
    //min-height: 1em;
    margin-left : -2px;
    
    //padding : 0;
   //padding : $padding-S $padding-S  0 0;
   
   letter-spacing: .2em;
   
}


.box-tab-toggle {
    padding : $padding-S+.1em 0 $padding-S 0;
    text-align : center;
    font-size : 85%;
    border-top : solid 1px white;
    font-size: .8em;
    cursor : pointer;
}

.legend-container, .filters-form-container {
    @extend %theme-primary;

    padding: $padding-L;
}

.box-hidden {
    visibility : hidden;
    height : 0;
}

// #legend .box-tab { top : $key-tab-top}
// .filters .box-tab { top : $filters-tab-top }

/*********************
 MAP
*********************/
.map-container {
    @extend %fill-height;
}

#map {
    @extend %fill-screen;
}

.leaflet-bar {
    box-shadow: 0 0 8px lighten($red, 15%);
    border: none;
}

.leaflet-control-zoom a {
    color : $red;
    width: 30px;
    height : 30px;
}

.leaflet-bar-part {
    border-bottom : solid 1px lighten($red, 30%);
}

#messages { position: absolute; bottom: 0; left: 10px; width: 35%; height: auto;}