/*********************
 MENU
*********************/
.top-menu {
    @extend %fill-width;
    @extend %theme-primary;

    height: $menu-height;
    padding-top : $padding-M;
}

.logo {
    width : $logo-width;
    margin-left : 18px;
}

.tagline {
    line-height: 1.4em;
    margin-top: -0.4em;
}
