/*********************
 MAP
*********************/
.map-container {
    @extend %fill-height;
}

#map {
    @extend %fill-screen;
    top : 85px;
    height: auto;
}

.leaflet-bar {
    box-shadow: 0 0 8px lighten($red, 15%);
    border: none;
}
.leaflet-bar:hover {
    box-shadow: 0 0 8px lighten($red, 15%);
    border: none;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
     -webkit-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
     -webkit-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.leaflet-control-zoom a {
    color : $red;
    width: 30px;
    height : 30px;
}

.leaflet-control-zoom a:hover {
    color : $red;
    width: 30px;
    height : 30px;
}

.leaflet-bar-part {
    border-bottom : solid 1px lighten($red, 30%);
}
