.search-results-container {
    div {
        padding : $padding-XS;
    }
    .row{ padding:0;}
}

.search-results {
    height : 2.1em;
   //background : lighten($red, 39%);
    padding-left:0.8em !important;
    border-left: 6px $red solid;
    color: $red;
    border-right: solid 1px #fff;
    margin-right: 3em;
}
