/*********************
 COLORS 
*********************/
$white : white;
$red : #ee483d;
$tan-Light : #edece6;
$tan-Medium : #c4c3b4;
$tan-dark : #96947B; 

/*Legend*/
$discipline-border-color : #919178;
$dance-icon-color : #C5DAF2;
$film-icon-color : #FFF1BB;
$music-icon-color : #FAE0BE;
$theater-icon-color : #EFC0C0;
$visual-icon-color : #DEA99D;
$multi-discipline-icon-color : #E4C5D5;
$commercial-icon-color : $red;
$government-icon-color : blue;
$informal-icon-color : green;
$non-profit-icon-color : gold;


/*********************
 DIMENSION 
*********************/
$padding-XS: 0.25em;
$padding-S: 0.5em;
$padding-M : 0.75em;
$padding-L : 1em;

$margin-XXS : 0.25em;
$margin-XS : 0.5em;
$margin-S : 1em;
$margin-M : 1.5em;
$margin-L : 2em;

/*legend*/
$square-width : 10.5714285714%; 
$square-margin : 4%;

/*********************
 TYPOGRAPHY 
*********************/
/*options: atrament-web || tablet-gothic-condensed*/
$font-name : "tablet-gothic-condensed";
$default-font-size : 1em;

/*********************
 PARTIALS
*********************/
$menu-height : 5em;
$logo-width : 16em;

/*box tabs top defaults, varies per box-tab mixin*/
$key-tab-top : 23px;
$filters-tab-top : 57px;

$map-controller-width : 24em;




