/*********************
 COLORS 
*********************/
$white : white;
$red : #ee483d;
$tan-Light : #edece6;
$tan-Medium : #c4c3b4;
$tan-dark : #96947B; 

/*********************
 DIMENSION 
*********************/
$padding-S: 0.5em;
$padding-M : 0.75em;
$padding-L : 1em;

$margin-S : 1em;
$margin-M : 1.5em;
$margin-L : 2em;

/*********************
 PARTIALS
*********************/
$menu-height : 5em;
$logo-width : 16em;

/*box tabs top adjustments*/
$key-tab-top : 23px;
$filters-tab-top : 57px;

$map-controller-width : 25em;
