/*********************
 COLORS 
*********************/
$white : white;
$red : #ee483d;
$tan-Light : #edece6;
$tan-Medium : #c4c3b4;
$tan-dark : #96947B; 

/*********************
 DIMENSION 
*********************/
$padding-XS: 0.25em;
$padding-S: 0.5em;
$padding-M : 0.75em;
$padding-L : 1em;

$margin-XXS : 0.25em;
$margin-XS : 0.5em;
$margin-S : 1em;
$margin-M : 1.5em;
$margin-L : 2em;

/*********************
 TYPOGRAPHY 
*********************/
/*options: atrament-web || tablet-gothic-condensed*/
$font-name : "tablet-gothic-condensed";
$default-font-size : 1em;

/*********************
 PARTIALS
*********************/
$menu-height : 5em;
$logo-width : 16em;

/*box tabs top defaults, varies per box-tab mixin*/
$key-tab-top : 23px;
$filters-tab-top : 57px;

$map-controller-width : 25em;
