%theme-primary {
	@extend %arrange-front;
	@extend %red-shadow;
	
	@include set-font($font-name);

	color : $red;
	background-color : $white;

	.light-accent {
		color : $pink;
	}

	.invert-theme {
		color : $white;
		background-color : $red;
	}
	
}

a.primary {
	color : $red;
	text-decoration: none;
}

%theme-primary-inverse {
	@extend %arrange-front;
	@extend %red-shadow;
	
	@include set-font($font-name);

	color : $white;
	background-color : $red;
	
}
